version: 2
registries:
  hub:
    type: docker-registry
    url: registry.hub.docker.com
    username: ${{ secrets.DOCKER_USER }}
    password: ${{ secrets.DOCKER_PAT }}
  dhi:
    type: docker-registry
    url: dhi.io
    username: ${{ secrets.DOCKER_USER }}
    password: ${{ secrets.DOCKER_PAT }}
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      ci:
        patterns:
          - "*"
    ignore:
      - dependency-name: "react"
        versions: [ ">=19" ]
      - dependency-name: "react-dom"
        versions: [ ">=19" ]
      - dependency-name: "@types/react-dom"
        versions: [ ">=19" ]
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    registries:
    - dhi
    - hub
    ignore:
      - dependency-name: 'node'
        update-types: ['version-update:semver-major']
    groups:
      ci:
        patterns:
          - "*"
