name: ci
on:
  pull_request:
    branches: [main]
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  push:
    branches: [main]
permissions:
  contents: read
jobs:
  scan-and-compare:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build container image from PR branch
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: mode=max
          sbom: true
          tags: backstage:pr-${{ github.event.number }}
      - name: docker images
        run: |
          docker images
      - name: checkout code
        uses: actions/checkout@v6
        with:
          ref: main
      - name: Build container image from main branch
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: mode=max
          sbom: true
          tags: backstage:main
      - name: docker images
        run: |
          docker images
      - name: Docker Scout
        uses: docker/scout-action@v1
        with:
          command: compare
          image: local://backstage:pr-${{ github.event.number }}
          to: local://backstage:main
          write-comment: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
  multi-arch-build-frontend-container:
    uses: docker/github-builder/.github/workflows/build.yml@v1
    with:
      output: image
      push: false
      platforms: linux/amd64,linux/arm64
      runner: amd64
      setup-qemu: true
      sbom: true
      cache: true
      context: .
      file: Dockerfile.frontend
      set-meta-labels: true
      set-meta-annotations: true
      meta-images: |
        frontend
      meta-tags: |
        type=ref,event=pr
  multi-arch-build-backend-container:
    uses: docker/github-builder/.github/workflows/build.yml@v1
    with:
      output: image
      push: false
      platforms: linux/amd64,linux/arm64
      sbom: true
      cache: true
      context: .
      file: Dockerfile
      set-meta-labels: true
      set-meta-annotations: true
      meta-images: |
        backend
      meta-tags: |
        type=ref,event=pr
  build-and-test-monolith:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Check git diff is clean (all files generated should be committed)
        run: |
          node --version
          yarn install
          git diff --exit-code
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make compose-monolith-test
        run: |
          make compose-monolith-test
      - name: install score-k8s
        uses: score-spec/setup-score@v3
        with:
          file: score-k8s
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make k8s-monolith-test
        run: |
          make kind-create-cluster
          make kind-load-monolith-image
          make k8s-monolith-test
  build-and-test-split:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Check git diff is clean (all files generated should be committed)
        run: |
          node --version
          yarn install
          git diff --exit-code
      - name: remove frontend from backend
        run: |
          export YARN_ENABLE_IMMUTABLE_INSTALLS=false
          make remove-frontend-from-backend
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make compose-split-test
        run: |
          make compose-split-test
      - name: install score-k8s
        uses: score-spec/setup-score@v3
        with:
          file: score-k8s
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make k8s-monolith-test
        run: |
          make kind-create-cluster
          make kind-load-split-images
          make k8s-split-test
