name: ci
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  push:
    branches: [main]
permissions:
  contents: read
jobs:
  scan-and-compare:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Docker
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 #v4.7.0
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: docker login docker.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build container image from PR branch
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: mode=max
          sbom: true
          tags: backstage:pr-${{ github.event.number }}
      - name: docker images
        run: |
          docker images
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.base_ref }}
      - name: Build container image from main branch
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: mode=max
          sbom: true
          tags: backstage:main
      - name: docker images
        run: |
          docker images
      - name: Docker Scout
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1.18.2
        with:
          command: compare
          image: local://backstage:pr-${{ github.event.number }}
          to: local://backstage:main
          write-comment: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
  multi-arch-build-frontend-container:
    uses: docker/github-builder/.github/workflows/build.yml@c767551a26459c30e1f683df73a12fdb918f7068 # v1.0.0
    with:
      output: image
      push: false
      platforms: linux/amd64,linux/arm64
      runner: amd64
      setup-qemu: true
      sbom: true
      cache: true
      context: .
      file: Dockerfile.frontend
      set-meta-labels: true
      set-meta-annotations: true
      meta-images: |
        frontend
      meta-tags: |
        type=ref,event=pr
  #multi-arch-build-backend-container:
  #  uses: docker/github-builder/.github/workflows/build.yml@c767551a26459c30e1f683df73a12fdb918f7068 # v1.0.0
  #  with:
  #    output: image
  #    push: false
  #    platforms: linux/amd64,linux/arm64
  #    sbom: true
  #    cache: true
  #    context: .
  #    file: Dockerfile
  #    set-meta-labels: true
  #    set-meta-annotations: true
  #    meta-images: |
  #      backend
  #    meta-tags: |
  #      type=ref,event=pr
  #  secrets:
  #    registry-auths: |
  #      - registry: docker.io
  #        username: ${{ secrets.DOCKER_USER }}
  #        password: ${{ secrets.DOCKER_PAT }}
  build-and-test-monolith:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'
      - name: Check git diff is clean (all files generated should be committed)
        run: |
          node --version
          yarn install
          git diff --exit-code
      - name: install score-compose
        uses: score-spec/setup-score@63b107deddc5ac6a0f1b3501e358be319d687c3e # v3.1.7
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: docker login docker.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: make compose-monolith-test
        run: |
          make compose-monolith-test
      - name: install score-k8s
        uses: score-spec/setup-score@63b107deddc5ac6a0f1b3501e358be319d687c3e # v3.1.7
        with:
          file: score-k8s
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make k8s-monolith-test
        run: |
          make kind-create-cluster
          make kind-load-monolith-image
          make k8s-monolith-test
  build-and-test-split:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'
      - name: Check git diff is clean (all files generated should be committed)
        run: |
          node --version
          yarn install
          git diff --exit-code
      - name: remove frontend from backend
        run: |
          export YARN_ENABLE_IMMUTABLE_INSTALLS=false
          make remove-frontend-from-backend
      - name: install score-compose
        uses: score-spec/setup-score@63b107deddc5ac6a0f1b3501e358be319d687c3e # v3.1.7
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: docker login docker.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: make compose-split-test
        run: |
          make compose-split-test
      - name: install score-k8s
        uses: score-spec/setup-score@63b107deddc5ac6a0f1b3501e358be319d687c3e # v3.1.7
        with:
          file: score-k8s
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make k8s-monolith-test
        run: |
          make kind-create-cluster
          make kind-load-split-images
          make k8s-split-test
