name: ci
permissions:
  contents: read
on:
  pull_request:
    branches: [main]
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  push:
    branches: [main]
jobs:
  scan-and-compare:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: mode=max
          sbom: true
          tags: backstage:test
      - name: docker images
        run: |
          docker images
      - name: Docker Scout
        id: docker-scout
        if: ${{ github.event_name == 'pull_request' }}
        uses: docker/scout-action@v1
        with:
          command: quickview
          image: local://backstage:test
          to: ghcr.io/mathieu-benoit/backstage:latest
          write-comment: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
  multi-arch-build-frontend-container:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: build frontend container image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: Dockerfile.frontend
          push: false
          tags: "frontend:test"
  multi-arch-build-backend-container:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: build backend container image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: Dockerfile
          push: false
          tags: "backend:test"
  build-and-test-monolith:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Check git diff is clean (all files generated should be committed)
        run: |
          yarn install
          git diff --exit-code
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make compose-monolith-test
        run: |
          make compose-monolith-test
      - name: install score-k8s
        uses: score-spec/setup-score@v3
        with:
          file: score-k8s
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make k8s-monolith-test
        run: |
          make kind-create-cluster
          make kind-load-monolith-image
          make k8s-monolith-test
  build-and-test-split:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Check git diff is clean (all files generated should be committed)
        run: |
          yarn install
          git diff --exit-code
      - name: remove frontend from backend
        run: |
          export YARN_ENABLE_IMMUTABLE_INSTALLS=false
          make remove-frontend-from-backend
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make compose-split-test
        run: |
          make compose-split-test
      - name: install score-k8s
        uses: score-spec/setup-score@v3
        with:
          file: score-k8s
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "latest"
      - name: make k8s-monolith-test
        run: |
          make kind-create-cluster
          make kind-load-split-images
          make k8s-split-test
