name: Upgrade Yarn version
on:
  schedule:
    - cron: "0 10 * * 1-5"
  workflow_dispatch:
jobs:
  upgrade-yarn-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: "npm"
      - name: yarn set version stable
        run: |
          echo "OLD_YARN_VERSION=$(cat package.json | jq -r .packageManager)" >> ${{ github.env }}
          export YARN_ENABLE_IMMUTABLE_INSTALLS=false
          yarn set version stable
          yarn install
          echo "NEW_YARN_VERSION=$(cat package.json | jq -r .packageManager)" >> ${{ github.env }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Upgrade Yarn version from ${{ env.OLD_YARN_VERSION }} to ${{ env.NEW_YARN_VERSION }}
          title: Upgrade Yarn version from ${{ env.OLD_YARN_VERSION }} to ${{ env.NEW_YARN_VERSION }}
          body: |
            Upgrade Yarn version from ${{ env.OLD_YARN_VERSION }} to ${{ env.NEW_YARN_VERSION }}:
            https://github.com/yarnpkg/berry/releases/tag/%40yarnpkg/cli/${{ env.NEW_YARN_VERSION }}

            - [ ] Set PR as "Ready for review"
            - [ ] Check CI
            - [ ] Submit PR review
          branch: upgrade-yarn
          delete-branch: true
          draft: always-true # Because of: https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs.
